*.o
*.so
*.a
*.dll
*.DLL
test
testmain
VisualStudio/Debug/
VisualStudio/Release/
*.sdf
*.suo
bin/
libs/
gen/
obj/
*.apk
*.ap_
*.dex
*.class
local.properties
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
